#NAVBAR {
    POSITION: absolute;
    width: 200px;
    height: 768px;
    background-color: lightgreen;
    top: 0px;
    left: 0px;
}

#ALLCONTENT {
    position: absolute;
    min-width: 1080px;
    max-width: 1720px;
    height: 768px;
    top: 0px;
    left: 200px;
    background-color: lightblue;
}

#logo {
    background-color: orangered;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 20px;
    position: absolute;
    left: 25px;
}

.letterEv {
    position: relative;
    width: 70px;
    height: 15px;
    margin: 25px;
    background-color: orange;
    left: 15px;
}

.letterEh {
    width: 15px;
    height: 95px;
    background-color: orange;
    top: -120px;
    position: relative;
    left: 40px;
}

.navbutton {
    font-size: 30px;
    position: relative;
    top: 200px;
    margin: 20px;
    color: orangered;
}

a {
    text-decoration: none;
    color: #ff0000;
}